@font-face {
    src: url("../fonts/strangferfixcs/strangerfixcs.ttf");
    font-family: strangferfixcs;
}
body {
    margin: unset;
}
p, h1, h2, h3 {
    margin: unset;
}
header {
    width: 1440px;
    padding-left: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    position: absolute;
}
header h3 {
    color: rgb(187,187,187);
    font-family: strangferfixcs, serif;
    font-size: 32px;
}
.links {
    display: flex;
    max-width: 370px;
    width: 100%;
    justify-content: space-between;
}
.links a {
    color: rgb(153,153,153);
    font-family: Arial, serif;
    text-decoration: none;
}
main {
    background: url("../img/floraldesign/b-min.jpg");
    display: flex;
    height: 938px;
    width: 1920px;
    align-items: center;
    justify-content: center;
}
.cube {
    max-width: 900px;
    border: 6px solid #fff;
    padding: 145px 90px;
    color: #fff;
    text-align: center;
}
.cube h2 {
    font-family: Arial, serif;
    font-size: 32px;
    font-weight: 300;
}
.cube h1 {
    font-size: 108px;
    padding-top: 48px;
    font-weight: 400;
}
footer {
    background: #333333;
    display: flex;
    width: 1920px;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #fff;
    font-size: 20px;
    font-family: Helvetica, serif;
}