@font-face {
    font-family: FNBTS;
    font-weight: 400;
    src: url("../fonts/FNBTS/FNBTS.ttf");
}
@font-face {
    font-family: FNBTS;
    font-weight: 600;
    src: url("../fonts/FNBTS/FNBTS.ttf");
}
html {
    background-image: url("../img/fnbts/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.textblock::-webkit-scrollbar {
    width: 15px;
}
.textblock::-webkit-scrollbar-track {
    background: rgba(51, 51, 51, 0.0);
}
.textblock::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 15px;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner {
    background: rgba(51, 51, 51, 0.75);
    border: 2px solid #333;
    max-height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo img {
    max-width: 85px;
    max-height: 85px;
    padding-right: 20px;
}
.logo a {
    font-family: FNBTS;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: none;
    color: #FFF;
}
.buttons {
    display: flex;
    padding-left: 20px;
    gap: 20px;
}
.button {
    color: #FFF;
    text-align: center;
    font-family: FNBTS;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: none;
}
.block {
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
}
.textblock {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    border: 2px solid #333;
    background: rgba(51, 51, 51, 0.60);
    padding: 20px;
    overflow-y: auto;
    border-radius: 15px;
    overflow-style: marquee-block;
}

.textblock p {
    font-family: FNBTS;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin: 10px;
}
.seredina {
    text-align: center;
    font-family: FNBTS;
    font-size: 48px !important;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}
.prosto {
    text-decoration: none;
}

.textblock h1 {
    text-align: center;
    font-family: FNBTS;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}

.footer {
    margin-top: auto;
    transform: translateY(-20px);
}
.footer__inner {
    background: rgba(51, 51, 51, 0.75);
    border: 2px solid #333;
    max-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
}

.fottext {
    font-family: FNBTS;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin: 20px;
}
.prosto a {
    border: none;
    overflow: visible;
    font-family: FNBTS;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 5px;
    color: #F4F4F4;
    -webkit-background-clip: text;
    background-clip: text;
}