@font-face {
    font-family: FNBTS;
    font-weight: 400;
    src: url("../fonts/FNBTS/FNBTS.ttf");
}
@font-face {
    font-family: FNBTS;
    font-weight: 600;
    src: url("../fonts/FNBTS/FNBTS.ttf");
}
html {
    background-image: url("../img/fnbts/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.textblock::-webkit-scrollbar {
    width: 15px;
}
.textblock::-webkit-scrollbar-track {
    background: rgba(51, 51, 51, 0.0);
}
.textblock::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 15px;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner {
    background: rgba(51, 51, 51, 0.75);
    border: 2px solid #333;
    max-height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo img {
    max-width: 85px;
    max-height: 85px;
    padding-right: 20px;
}
.logo a {
    font-family: FNBTS;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: none;
    color: #FFF;
}
.buttons {
    display: flex;
    padding-left: 20px;
    gap: 20px;
}
.button {
    color: #FFF;
    text-align: center;
    font-family: FNBTS;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: none;
}
.korobka {
    display: flex;
}
.block {
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
}
.textblock {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    border: 2px solid #333;
    background: rgba(51, 51, 51, 0.60);
    padding: 20px;
    overflow-y: auto;
    border-radius: 15px;
    overflow-style: marquee-block;
}

.textblock p {
    font-family: FNBTS;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin: 10px;
}
.imgblock {
    max-width: 250px;
    max-height: 250px;
    background: rgba(51, 51, 51, 0.60);
    border: 2px solid #333;
    margin-left: 50px;
    display: flex;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
}
.skrin {
    width: 250px;
    height: 250px;
}
.seredina {
    text-align: center;
    font-family: FNBTS;
    font-size: 48px !important;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}
.wrapper {
    width: 100%;
    display: flex;
    animation: slide 20s infinite running;
    animation-delay: 1s;
    animation-timing-function: revert;
}
.prosto {
    text-decoration: none;
}
@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(0%);
    }
}

.textblock h1 {
    text-align: center;
    font-family: FNBTS;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}

.textblock ol {
    text-align: left;
    font-family: FNBTS;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin: 10px;
}
.textblock li {
    padding: 5px;
}
.ps li {
    list-style-type: none; /* Убираем маркеры у списка */
}
.ps li:before {
    content: "- "; /* Добавляем в качестве маркера символ */
}
.ps {
    font-family: FNBTS;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin: 15px;
}
.footer {
    bottom: 0;
}
.footer__inner {
    background: rgba(51, 51, 51, 0.75);
    border: 2px solid #333;
    max-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
}

.fottext {
    font-family: FNBTS;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin: 20px;
}
.prosto a {
    border: none;
    overflow: visible;
    font-family: FNBTS;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 5px;
    color: #F4F4F4;
    -webkit-background-clip: text;
    background-clip: text;
}
.sogl {
    padding-top: 70px;
}
.enableknopka {
    font-family: FNBTS;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;

}
#enableknopka:not(:checked) ~ #knopka{
    user-select:none!important;
    background-color: #696969 !important;
    cursor:default;
    outline:none;
    pointer-events:none!important;
}
.button1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: menulist-button;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    bottom: 0;
    margin: 25px auto;
    font-size: 32px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 0 #000000;
    outline: 0;
    cursor: pointer;
    background: #333333;
    color: #fff;
    font-family: FNBTS;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.uslovia {
    color: #8d8d91;
    text-decoration: none;
}
.enableknopka {
    margin-top: 20px;
}

.imgblock {
    transition: 0.45s;
}
.imgblock:hover {
    transform: scale(1.7) translateX(-20%);
}

.button {
    transition: 0.2s;
}
.button:hover {
    transform: scale(1.1);
}
.button1 {
    transition: 0.2s;
}
.button1:hover {
    transform: scale(1.1);
}
.logo-img {
    transition: 0.2s;
}
.logo-img:hover {
    transform: scale(1.1);
}
.login {
    transition: 0.2s;
}
.login:hover {
    transform: scale(1.1);
}
@media screen and (min-width: 1000px) and (max-width: 1599px) and (max-height: 1400px) {
    .korobka {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block {
        padding-top: 50px;
    }
    .textblock {
        max-height: 700px;
    }
    .imgblock {
        margin-top: 20px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1599px) and (max-height: 1180px) {
    .korobka {

        justify-content: center;
    }
    .block {
        padding-top: 50px;
    }
    .textblock {
        max-height: 590px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
}
@media screen and (min-width: 700px) and (max-width: 1599px) and (max-height: 961px){
    .korobka {
        justify-content: center;
    }
    .block {
        padding-top: 50px;
    }
    .textblock {
        max-height: 500px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
}
@media screen and (min-width: 700px) and (max-width: 1599px) and (max-height: 901px){
    .korobka {

        justify-content: center;
    }
    .block {
        padding-top: 50px;
    }
    .textblock {
        max-height: 450px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
}

@media screen and (max-width: 1399px) and (max-height: 768px){
    .korobka {

        justify-content: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 420px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .fottext {
        font-size: 12px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
}
@media screen and (max-width: 1399px) and (max-height: 721px){
    .korobka {

        justify-content: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 380px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .fottext {
        font-size: 12px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
}
@media screen and (max-width: 1399px) and (max-height: 601px) {
    .korobka {

        justify-content: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 280px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .fottext {
        font-size: 12px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
}
@media screen and (max-width: 1440px) and (max-height: 580px) {
    .korobka {

        justify-content: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 280px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .fottext {
        font-size: 12px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
}

@media screen and (max-width: 430px) and (max-height: 932px) {
    .korobka {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .block {
        padding-top: 25px;

    }
    .textblock {
        max-height: 410px;
        padding: 10px;
    }
    .imgblock {
        max-width: 125px;
        max-height: 125px;
        padding: 5px;
        margin-left: 0;
        margin-top: 10px;
        opacity: unset;
        position: relative;
    }
    .skrin {
        max-width: 125px;
        max-height: 125px;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .button {
        font-size: 12px;
    }
    .fottext {
        font-size: 8px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
    .textblock p {
        font-size: 16px;
        margin: 5px;
    }
    .textblock h1 {
        font-size: 20px;
    }
    .textblock ol {
        font-size: 16px;
    }
    .enableknopka {
        font-size: 16px;
    }
    .button1 {
        font-size: 16px;
    }
}
@media screen and (width: 393px) and (max-height: 852px) {
    .korobka {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .block {
        padding-top: 25px;

    }
    .textblock {
        max-height: 320px;
        padding: 10px;
    }
    .imgblock {
        max-width: 125px;
        max-height: 125px;
        padding: 5px;
        margin-left: 0;
        margin-top: 10px;
        opacity: unset;
        position: relative;
    }
    .skrin {
        max-width: 125px;
        max-height: 125px;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .button {
        font-size: 12px;
    }
    .fottext {
        font-size: 8px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
    .textblock p {
        font-size: 16px;
        margin: 5px;
    }
    .textblock h1 {
        font-size: 20px;
    }
    .textblock ol {
        font-size: 16px;
    }
    .enableknopka {
        font-size: 16px;
    }
    .button1 {
        font-size: 16px;
    }
}
@media screen and (width: 390px) and (max-height: 844px) {
    .korobka {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .block {
        padding-top: 25px;

    }
    .textblock {
        max-height: 260px;
        padding: 10px;
    }
    .imgblock {
        max-width: 125px;
        max-height: 125px;
        padding: 5px;
        margin-left: 0;
        margin-top: 10px;
        opacity: unset;
        position: relative;
    }
    .skrin {
        max-width: 125px;
        max-height: 125px;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .button {
        font-size: 12px;
    }
    .fottext {
        font-size: 8px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
    .textblock p {
        font-size: 16px;
        margin: 5px;
    }
    .textblock h1 {
        font-size: 20px;
    }
    .textblock ol {
        font-size: 16px;
    }
    .enableknopka {
        font-size: 16px;
    }
    .button1 {
        font-size: 16px;
    }
}
@media screen and (max-width: 375px) and (max-height: 740px) {
    .korobka {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 400px;
        padding: 10px;
    }
    .imgblock {
        max-width: 125px;
        max-height: 125px;
        padding: 5px;
        margin-left: 0;
        margin-top: 20px;
        position: relative;
        opacity: unset;
    }
    .skrin {
        max-width: 125px;
        max-height: 125px;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .button {
        font-size: 12px;
    }
    .fottext {
        font-size: 8px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
    .textblock p {
        font-size: 16px;
        margin: 5px;
    }
    .textblock h1 {
        font-size: 20px;
    }
    .textblock ol {
        font-size: 16px;
    }
    .enableknopka {
        font-size: 16px;
    }
    .button1 {
        font-size: 16px;
    }
}
@media screen and (max-width: 375px) and (max-height: 667px) {
    .korobka {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 300px;
        padding: 10px;
    }
    .imgblock {
        max-width: 125px;
        max-height: 125px;
        padding: 5px;
        margin-left: 0;
        margin-top: 20px;
        position: relative;
        opacity: unset;
    }
    .skrin {
        max-width: 125px;
        max-height: 125px;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .button {
        font-size: 12px;
    }
    .fottext {
        font-size: 8px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 50px;
        max-height: 50px;
    }
    .textblock p {
        font-size: 16px;
        margin: 5px;
    }
    .textblock h1 {
        font-size: 20px;
    }
    .textblock ol {
        font-size: 16px;
    }
    .enableknopka {
        font-size: 16px;
    }
    .button1 {
        font-size: 16px;
    }
}
@media screen and (max-width: 375px) and (max-height: 518px) {
    .korobka {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 300px;
        padding: 10px;
    }
    .imgblock {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        position: absolute;
    }
    .skrin {
        max-width: 125px;
        max-height: 125px;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .button {
        font-size: 12px;
    }
    .fottext {
        font-size: 8px;
        margin: 1px 1px 1px 7px;
    }
    .logo img{
        max-width: 40px;
        max-height: 40px;
        padding-right: 10px;
    }
    .buttons {
        gap: 10px;
        padding-left: 10px;
    }
    .textblock p {
        font-size: 16px;
        margin: 5px;
    }
    .textblock h1 {
        font-size: 20px;
    }
    .textblock ol {
        font-size: 16px;
    }
    .enableknopka {
        font-size: 16px;
    }
    .button1 {
        font-size: 16px;
    }
}
@media screen and (max-width: 300px) and (max-height: 667px) {
    .korobka {
        justify-content: center;
    }
    .block {
        padding-top: 25px;
    }
    .textblock {
        max-height: 400px;
        padding: 10px;
    }
    .imgblock {
        position: absolute;
        max-width: 0;
        max-height: 0;
        opacity: 0;
    }
    .buttons {
        padding-left: 10px;
        gap: 10px;
    }
    .button {
        font-size: 10px;
    }
    .logo img {
        max-width: 25px;
        max-height: 25px;
        padding-right: 10px;
    }
    .header__inner {
        max-height: 50px;
    }
    .footer__inner {
        max-height: 50px;
    }
    .fottext {
        font-size: 8px;
        margin: 1px 1px 1px 7px;
    }
    .textblock p {
        font-size: 16px;
        margin: 5px;
    }
    .textblock h1 {
        font-size: 20px;
    }
    .textblock ol {
        font-size: 16px;
    }
    .enableknopka {
        font-size: 16px;
    }
    .button1 {
        font-size: 16px;
    }
}


