@font-face {
    font-family: Jura;
    src: url("../fonts/Jura/Jura-Bold.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 400;
}
body {
    background-color: #F7F9FD;
    overflow-x: hidden;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}
.header {
    padding-bottom: 35px;
}
.nazvanie {
    color: #000;
    font-family: Jura;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.logotip {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 223px;
    height: 48px;
}
.logo {
    width: 40px;
    height: 40px;
}
.pages {
    display: flex;
    align-items: center;
    gap: 25px;
}
.page {
    color: #000;
    font-family: Jura;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    text-decoration: none;
}
.hero {
    max-height: 624px;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    background-color: #fff;
}
.top {
    display: flex;
    position: relative;
    max-height: 624px;
    height: 100%;
}
.toptext{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.button{
    color: #FFF;
    font-family: Jura;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.top3 {
    padding-top: 208px;
    width: 775px;
    color: #000;
    font-family: Jura;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 96px */
}
.defka {
    flex-shrink: 0;
    margin-right: -40px;
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    height: 100%;
}
.top button {
    margin-bottom: 104px;
}
.button {
    display: flex;
    padding: 25px 75px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 0;
    background: linear-gradient(266deg, #C688FE -16.63%, #902FE3 100%);
}
.nigger {
    display: flex;
    margin-top: 140px;
}
.miniblock {
    display: flex;
    flex-wrap: wrap;
}
.block1 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 790px;
    border-radius: 30px;
    background: #FFF;
    cursor: pointer;
}
.block2 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 790px;
    border-radius: 30px;
    background: #FFF;
    margin-left: 20px;
    cursor: pointer;
}
.blockmini1 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 385px;
    border-radius: 30px;
    background: #FFF;
    margin-left: 20px;
    cursor: pointer;
}
.blockmini2 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 385px;
    border-radius: 30px;
    background: #FFF;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.imgblockbig {
    padding-top: 314px;
    border-radius: 30px;
    max-width: 466px;
    width: 100%;
}
.imgblockmini {
    width: 100%;
    max-width: 466px;
    border-radius: 30px;
}
.blocktext {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 30px */
    padding-left: 40px;
    padding-top: 40px;
    position: absolute;
    max-width: 334px;
}

.footer__inner {
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;
    flex-wrap: wrap;
}

.prava {
    width: 100%;
}

.govno {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infa {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
