@font-face {
    font-family: Jura;
    src: url("../fonts/Jura/Jura-Bold.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: 400;
}
body {
    background-color: #F7F9FD;
    overflow-x: hidden;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}
.header {
    padding-bottom: 35px;
}
.nazvanie {
    color: #000;
    font-family: Jura;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.logotip {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 223px;
    height: 48px;
}
.logo {
    width: 40px;
    height: 40px;
}
.pages {
    display: flex;
    align-items: center;
    gap: 25px;
}
.page {
    color: #000;
    font-family: Jura;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    text-decoration: none;
}
.hero {
    max-height: 624px;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    background-color: #fff;
}
.top {
    display: flex;
    position: relative;
    max-height: 624px;
    height: 100%;
}
.toptext{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.button{
    color: #FFF;
    font-family: Jura;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.top3 {
    padding-top: 208px;
    width: 775px;
    color: #000;
    font-family: Jura;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 96px */
}
.defka {
    flex-shrink: 0;
    margin-right: -40px;
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    height: 100%;
}
.top button {
    margin-bottom: 104px;
}
.button {
    display: flex;
    padding: 25px 75px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 0;
    background: linear-gradient(266deg, #C688FE -16.63%, #902FE3 100%);
}
.nigger {
    display: flex;
    margin-top: 140px;
}
.miniblock {
    display: flex;
    flex-wrap: wrap;
}
.block1 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 790px;
    border-radius: 30px;
    background: #FFF;
    cursor: pointer;
}
.block2 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 790px;
    border-radius: 30px;
    background: #FFF;
    margin-left: 20px;
    cursor: pointer;
}
.blockmini1 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 385px;
    border-radius: 30px;
    background: #FFF;
    margin-left: 20px;
    cursor: pointer;
}
.blockmini2 {
    display: flex;
    max-width: 466px;
    width: 100%;
    max-height: 385px;
    border-radius: 30px;
    background: #FFF;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.imgblockbig {
    padding-top: 314px;
    border-radius: 30px;
    max-width: 466px;
    width: 100%;
}
.imgblockmini {
    width: 100%;
    max-width: 466px;
    border-radius: 30px;
}
.blocktext {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 30px */
    padding-left: 40px;
    padding-top: 40px;
    position: absolute;
    max-width: 334px;
}
.form {
    display: flex;
    max-width: 1440px;

    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    margin-top: 150px;
}
.form button {
    margin-bottom: 66px;
}
.krasivo {
    position: absolute;
    overflow: hidden;
    width: 400px;
    height: 722px;
    flex-shrink: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background: linear-gradient(198deg, #C688FE 0%, #902FE3 98.23%);
}
.belok {
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    opacity: 70%;
    padding-top: 252px;
    left: -70px;
}
.formtext {
    position: absolute;
    color: #000;
    font-family: Jura;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    margin-left: 470px;
    margin-top: 70px;
}
.formblock {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-top: 158px;
    margin-left: 470px;
    margin-right: 70px;
    width: 900px;
}
.input {
    display: flex;
    max-width: 900px;
    width: 100%;
    min-width: 300px;
    padding: 15px 0 15px 0;
    align-items: center;
    gap: 10px;
    border: 0;
    border-bottom: 1px solid #000;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
}


.footer__inner {
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;
    flex-wrap: wrap;
}

.prava {
    width: 100%;
}

.govno {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infa {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.vse__hero {
    width: 100%;
    flex-shrink: 0;
    background-color: #fff;
    min-height: 982px;
    height: 100%;
}
.vse__top {
    display: flex;
    position: relative;
    max-height: 982px;
    height: 100%;
}
.vsetext {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.kartinka {
    max-width: 1920px;
    margin-left: -240px;
    display: flex;
    position: absolute;
    flex-shrink: 0;
}
.vse {
    position: absolute;
    color: #FFF;
    font-family: Jura;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 96px */
    margin-top: 395px;
    margin-right: 964px;
}
.blocks {
    max-width: 1440px;
    padding-top: 140px;
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

}
.blocknews {
    display: flex;
    width: 710px;
    height: 790px;
    background-color: #FFF;
    border-radius: 30px;
    flex-shrink: 0;
}
.evrei {
    width: 710px;
    height: 395px;
    flex-shrink: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.evreizagolovok {
    position: absolute;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 30px */
    margin-left: 45px;
    margin-top: 320px;
}
.evreitext {
    padding-top: 420px;
    padding-left: 45px;
    position: absolute;
    width: 620px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
}
.kartacont {
    padding-top: 140px;
}
.kartablock {
    display: flex;
    max-width: 1440px;
    height: 790px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    padding: 25px;

}
.karta {
    width: 1390px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #9a9a9a;
    position: absolute;
}
.kartazag {
    padding-top: 570px;
    padding-left: 50px;
    position: absolute;
}
.zag {
    padding-bottom: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 30px */
}
.kartatext {
    max-height: 138px;
}
.kartatext p {
    padding-top: 20px;
}
.addresstext {
    width: 100%;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
}
.addresstext th {
    padding-top: 20px;
    padding-left: 250px;
}
.adresstext tr {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
}
.map {
    width: 1390px;
    height: 500px;
}
#map_350913947 {
    border-radius: 30px;
}
.prikol {
    padding-top: 150px;
}
.director {
    display: flex;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.rebyata {
    position: relative;
    padding: 25px;
    width: 1390px;
    min-height: 500px;
    flex-shrink: 0;
    border-radius: 30px;
}
.rebyata img {
    position: relative;
    border-radius: 30px;
}
.ebalo {
    display: flex;
    position: relative;
    width: 1340px;
    min-height: 480px;
    flex-shrink: 0;
    padding-top: 70px;
    padding-left: 220px;

}
.lojka {
    width: 175px;
    max-height: 175px;
}
.lojka img {
    width: 175px;
    height: 175px;
}
.dirtext {
    display: flex;
    position: relative;
    padding-left: 270px;
}
.ebaloname {
    position: relative;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    padding-top: 25px;
    padding-bottom: 25px;
    width: 387px;
    margin-left: -114px;
}
.ebalomini {
    position: relative;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    width: 516px;
    margin-left: -172px;
}
.polezno {
    position: relative;
    width: 725px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.niz {
    padding-top: 70px;
    padding-left: 50px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    width: 1340px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.blocktexta {
    flex-shrink: 0;
    display: flex;
    width: 1340px;
}
.blocktexta img {
    position: absolute;
    width: 670px;
    min-height: 400px;
    flex-shrink: 0;
    border-radius: 30px;
}
.popop {
    position: absolute;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    padding-top: 50px;
    padding-left: 725px;
}
.blocktexta2 {
    padding-top: 420px;
    display: flex;
    width: 1340px;
}
.blocktexta2 img {
    padding-left: 670px;
    position: absolute;
    width: 670px;
    min-height: 400px;
    flex-shrink: 0;
    border-radius: 30px;
}
.popop2 {
    position: absolute;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    padding-top: 70px;
    text-align: left;
}
.blocktexta3 {
    padding-top: 420px;
    display: flex;
    width: 1340px;
    flex-shrink: 0;
    padding-bottom: 45px;
}
.blocktexta3 img {
    position: relative;
    width: 670px;
    min-height: 400px;
    flex-shrink: 0;
    border-radius: 30px;
}
.popop3 {
    position: absolute;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    padding-top: 70px;
    padding-left: 725px;
}
.pop {
    position: absolute;
    width: 595px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    padding-left: 725px;
    margin-top: 100px;
}
.pop2 {
    position: absolute;
    width: 595px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    text-align: left;
    margin-top: 120px;
}
.pop3 {
    position: absolute;
    width: 595px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    padding-left: 725px;
    margin-top: 120px;
}
.sostav {
    position: relative;
    margin-top: 140px;
    padding: 100px;
    border-radius: 30px;
    background: #FFF;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}
.framelefttop {
    position: relative;
    width: 350px;
    min-height: 350px;
    flex-shrink: 0;
    border-radius: 30px;
}
.frameleft {
    padding-top: 75px;
    position: relative;
    width: 350px;
    min-height: 350px;
    flex-shrink: 0;
    border-radius: 30px;
}
.frametop {
    margin-left: 95px;
    position: relative;
    width: 350px;
    min-height: 350px;
    flex-shrink: 0;
    border-radius: 30px;
}
.frame {
    padding-top: 75px;
    padding-left: 95px;
    position: relative;
    width: 350px;
    min-height: 350px;
    flex-shrink: 0;
    border-radius: 30px;
}
.photo {
    height: 350px;
    width: 350px;
    border-radius: 30px;
}
.rodip {
    padding-top: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}
.rapid {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15px */
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .govno {
        flex-direction: column;
    }
    .logotip {
        padding-bottom: 20px;
    }
    .imgblockbig {
        padding-top: 0;
    }
    .block1 {
        max-height: 385px;
    }
    .block2 {
        max-height: 385px;

    }
    .nigger {
        flex-wrap: wrap;
    }
    .miniblock {
        flex-wrap: nowrap;
    }
    .blockmini1 {
        margin-left: 0;
        margin-top: 20px;
    }
    .top3 {
        font-size: 64px;
        width: 550px;
    }
    .nigger {
        justify-content: center;
    }
    .blocks {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 70px;
    }
    .kartinka {
        max-width: 1024px;
        max-height: 520px;
        margin-left: -15px;
    }
    .vse {
        margin-top: 160px;
    }
    .vse__hero {
        min-height: 520px;
        background: unset;
    }
    .karta {
        width: 944px;
    }
    .map {
        width: 944px;
    }
    .sostav {
        padding: 75px;
        justify-content: space-between;
        gap: 75px;
    }
    .frametop {
        margin-left: unset;
    }
    .frame {
        padding: unset;
    }
    .frameleft {
        padding: unset;
    }
    .rebyata {
        width: 944px;
        min-height: 340px;
    }
    .ebalo {
        padding-top: unset;
        flex-wrap: wrap;
    }
    .rebyata img {
        width: 944px;
    }
    .director {
        justify-content: center;
    }
    .lojka {
        padding-left: 466px;
    }
    .dirtext {
        padding-top: 150px;
        padding-left: 200px;
    }
    .blocktexta img {
        width: 500px;
        min-height: 0;
        padding-left: 170px;
    }
    .popop {
        padding-top: 0;
    }
    .pop {
        font-size: 16px;
        width: 400px;
        margin-top: 50px;
    }
    .blocktexta3 img {
        width: 500px;
        min-height: 0;
        padding-left: 170px;
    }
    .popop3 {
        padding-top: 0;
    }
    .pop3 {
        font-size: 16px;
        width: 400px;
        margin-top: 50px;
    }
    .blocktexta2 img {
        width: 500px;
        min-height: 0;
        padding-left: 620px;
    }
    .popop2 {
        padding-top: 0;
        padding-left: 170px;
    }
    .pop2 {
        font-size: 16px;
        width: 400px;
        margin-top: 50px;
        padding-left: 170px;
    }
    .blocktexta3 {
        padding-bottom: 90px;
    }
}
@media screen and (min-width: 300px) and (max-width: 991px){
    .govno {
        flex-direction: column;
    }
    .logotip {
        padding-bottom: 20px;
    }
    .imgblockbig {
        max-width: 992px;
        padding-top: 0;
    }
    .imgblockmini {
        max-width: 992px;
        width: 100%;
    }
    .miniblock {
        width: 100%;
    }
    .block1 {
        max-width: 992px;
        max-height: 992px;
    }
    .block2 {
        max-height: 992px;
        max-width: 992px;
        margin-left: 0;
    }
    .nigger {
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 70px;
        gap: 20px;
    }
    .miniblock {
        flex-direction: column;
    }
    .blockmini1 {
        max-width: 992px;
        max-height: 992px;
        height: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .blockmini2 {
        max-width: 992px;
        max-height: 992px;
        height: 100%;
        margin-left: 0;
    }
    .form {
        margin-top: 70px;
    }
    .krasivo {
        max-height: 250px;
        margin-top: 602px;
        max-width: 950px;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 30px;
    }
    .belok {
        padding-top: 52px;
    }
    .formblock {
        margin-left: 70px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 5px 50px;
    }
    .input {

    }
    .form button {
        margin-top: 20px;
        margin-bottom: 250px;
        padding: 25px 45px;
        width: 100%;
    }
    .formtext {
        margin-left: 70px;
    }
    .blocktext {
        font-size: 50px;
        max-width: 560px;
        padding-top: 60px;
        padding-left: 60px;
    }
    .defka {
        opacity: 0;
        max-width: 345px;
        max-height: 592px;
    }
    .header {
        padding-bottom: 10px;
    }
    .top3 {
        padding-top: 104px;
    }
    .kartinka {
        height: 100%;
        max-height: 620px;
    }
    .vse__hero {
        min-height: 620px;
    }
    .vse__top {
        min-height: 620px;
    }
    .blocks {
        flex-direction: column;
        max-width: 896px;
        flex-wrap: nowrap;
    }
    .blocki {
        align-items: center;
        display: flex;
    }
    .kartablock {
        position: relative;
        max-width: 896px;
    }
    .karta {
        max-width: 896px;
        display: flex;
    }
    .map {
        max-width: 896px;
    }
    .frametop {
        margin-left: 0;
    }
    .frame {
        padding-left: 0;
        padding-top: 0;
    }
    .frameleft {
        padding-top: 0;
    }
    .sostav {
        gap: 45px;
    }
    .ebalo {
        display: flex;
        position: relative;
        width: 1340px;
        flex-wrap: wrap;
        flex-direction: column;
        min-height: 480px;
        flex-shrink: 0;
        padding-top: 70px;
        align-items: center;
        justify-content: center;
        padding-left: unset;
    }
    .niz {
        padding: 50px;
        flex-shrink: 0;
        position: relative;
        display: flex;
        max-width: 850px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .director {
        display: flex;
        flex-shrink: 0;
        border-radius: 30px;
        background: #FFF;
        overflow: hidden;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }
    .rebyata {
        position: relative;
        padding: 25px;
        min-height: unset;
        flex-shrink: 0;
        border-radius: 30px;
    }
    .rebyata img {
        position: relative;
        border-radius: 30px;
        width: 910px;
    }
    .lojka {
        width: unset;
        max-height: unset;
        margin-bottom: 50px;
        margin-right: 140px;
    }
    .dirtext {
        display: flex;
        padding-left: unset;
        margin-right: 360px;
    }
    .pop {
        position: unset;
        width: 595px;
        color: #000;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding-left: unset;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .popop {
        position: unset;
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        padding-top: 50px;
        padding-left: unset;
    }
    .blocktexta img {
        position: unset;
        width: 670px;
        min-height: 400px;
        flex-shrink: 0;
        border-radius: 30px;
    }
    .blocktexta {
        flex-shrink: 0;
        display: flex;
        width: 1340px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .pop2 {
        position: unset;
        width: 595px;
        color: #000;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding-left: unset;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .popop2 {
        position: unset;
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        padding-top: 50px;
        padding-left: unset;
    }
    .blocktexta2 img {
        position: unset;
        width: 670px;
        min-height: 400px;
        flex-shrink: 0;
        border-radius: 30px;
        padding-left: unset;
    }
    .blocktexta2 {
        padding-top: 70px;
        flex-shrink: 0;
        display: flex;
        width: 1340px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .pop3 {
        position: unset;
        width: 595px;
        color: #000;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding-left: unset;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .popop3 {
        position: unset;
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        padding-top: 50px;
        padding-left: unset;
    }
    .blocktexta3 img {
        position: unset;
        width: 670px;
        min-height: 400px;
        flex-shrink: 0;
        border-radius: 30px;
    }
    .blocktexta3 {
        padding-top: 70px;
        flex-shrink: 0;
        display: flex;
        width: 1340px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}